# Verification Report
- Timestamp (UTC): 2025-08-08 23:46:28
- Git commit: a01107af9c882a3cb2a1e8aca4784b1dec6c635c

## Outputs present
- basic: data/survey_responses_anonymized_basic.csv
- prelim: data/survey_responses_anonymized_preliminary.csv
- jtempl: docs/appendix_j_classification_template.csv
- dict: data/data_dictionary.csv

## Checksums (sha256)
- basic: 6471c20b046a53d9f3568c301449b583afd7e4e3c16a5721f4a1fd8c10d4adb6
- prelim: 249355a7930ca7d0092bb5b5624fc57a86deab801de579885b82837221628047
- jtempl: 9780379601e9db70c95c614f3353d1c1742859cabc914c804bb714069d13b802
- dict: 095fbca520e5949d2759975e09f2ca644ff3ef5beab5f39d4a809bbe6f90ee82

